<a href="https://colab.research.google.com/github/pomegranate02/Sports-Analysis-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [6]:
link1 = "https://raw.githubusercontent.com/pomegranate02/Sports-Analysis-/main/Datasets/IPL%20Ball-by-Ball%202008-2020.csv"

In [8]:
dataset = pd.read_csv(link1)

In [10]:
dataset.tail()

             id  inning  over  ...  extras_type    batting_team    bowling_team
193463  1237181       1    12  ...          NaN  Delhi Capitals  Mumbai Indians
193464  1237181       1    12  ...          NaN  Delhi Capitals  Mumbai Indians
193465  1237181       1    13  ...        wides  Delhi Capitals  Mumbai Indians
193466  1237181       1    13  ...          NaN  Delhi Capitals  Mumbai Indians
193467  1237181       1    13  ...          NaN  Delhi Capitals  Mumbai Indians

[5 rows x 18 columns]