<a href="https://colab.research.google.com/github/pomegranate02/Sports-Analysis-/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [6]:
link1 = "https://raw.githubusercontent.com/pomegranate02/Sports-Analysis-/main/Datasets/IPL%20Ball-by-Ball%202008-2020.csv"

In [8]:
dataset = pd.read_csv(link1)

In [12]:
dataset.head()

       id  inning  ...           batting_team                 bowling_team
0  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
1  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
2  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
3  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore
4  335982       1  ...  Kolkata Knight Riders  Royal Challengers Bangalore

[5 rows x 18 columns]

In [13]:
dataset.tail()

             id  inning  over  ...  extras_type    batting_team    bowling_team
193463  1237181       1    12  ...          NaN  Delhi Capitals  Mumbai Indians
193464  1237181       1    12  ...          NaN  Delhi Capitals  Mumbai Indians
193465  1237181       1    13  ...        wides  Delhi Capitals  Mumbai Indians
193466  1237181       1    13  ...          NaN  Delhi Capitals  Mumbai Indians
193467  1237181       1    13  ...          NaN  Delhi Capitals  Mumbai Indians

[5 rows x 18 columns]

In [14]:
link2 = "https://raw.githubusercontent.com/pomegranate02/Sports-Analysis-/main/Datasets/deliveries.csv"

In [15]:
dataset2 = pd.read_csv(link2)

In [16]:
dataset2.head()

   match_id  inning  ... dismissal_kind fielder
0         1       1  ...            NaN     NaN
1         1       1  ...            NaN     NaN
2         1       1  ...            NaN     NaN
3         1       1  ...            NaN     NaN
4         1       1  ...            NaN     NaN

[5 rows x 21 columns]

In [17]:
dataset2.tail()

        match_id  inning  ... dismissal_kind    fielder
179073     11415       2  ...            NaN        NaN
179074     11415       2  ...            NaN        NaN
179075     11415       2  ...        run out  KH Pandya
179076     11415       2  ...            NaN        NaN
179077     11415       2  ...            lbw        NaN

[5 rows x 21 columns]

In [18]:
link3 = "https://raw.githubusercontent.com/pomegranate02/Sports-Analysis-/main/Datasets/matches.csv"

In [19]:
dataset3 = pd.read_csv(link3)

In [20]:
dataset3.head()

   id  season       city  ...         umpire1        umpire2 umpire3
0   1    2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2    2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3    2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4    2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5    2017  Bangalore  ...             NaN            NaN     NaN

[5 rows x 18 columns]

In [21]:
dataset3.tail()

        id  season  ...         umpire2                  umpire3
751  11347    2019  ...        O Nandan                   S Ravi
752  11412    2019  ...     Nitin Menon                Ian Gould
753  11413    2019  ...             NaN                      NaN
754  11414    2019  ...  Bruce Oxenford  Chettithody Shamshuddin
755  11415    2019  ...       Ian Gould              Nigel Llong

[5 rows x 18 columns]

In [22]:
dataset2

        match_id  inning  ... dismissal_kind    fielder
0              1       1  ...            NaN        NaN
1              1       1  ...            NaN        NaN
2              1       1  ...            NaN        NaN
3              1       1  ...            NaN        NaN
4              1       1  ...            NaN        NaN
...          ...     ...  ...            ...        ...
179073     11415       2  ...            NaN        NaN
179074     11415       2  ...            NaN        NaN
179075     11415       2  ...        run out  KH Pandya
179076     11415       2  ...            NaN        NaN
179077     11415       2  ...            lbw        NaN

[179078 rows x 21 columns]